# version: "2"
# stack_defaults:
#   before_init:
#     - .spacelift/hooks/00-aws-env.sh
#   before_plan:
#     - .spacelift/hooks/00-aws-env.sh
#   before_apply:
#     - apt-get update
#     - apt-get install -y awscli
#     - pip install -r requirements.txt
#     - .spacelift/hooks/00-aws-env.sh
#   environment:
#     AWS_SDK_LOAD_CONFIG: "0"
#     AWS_PROFILE: ""
#     AWS_DEFAULT_PROFILE: ""
